body {
    height: 100vh;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

.space {
    width: 100%;
    height: 100%;
    background-image: url("images/space.jpg");
    background-size: 20%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.planet-area {
    margin: 0;
    width: 40%;
}

.planet {
    position: absolute;
    width: 30%;
}

.rocket {
    position: relative;
    top: 5em;
    width: 20%;
    transform: rotate(65deg);
}

.control-panel {
    background-color: dimgrey;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px,
    rgb(255,255,100) 35px,
    rgb(255,255,100) 70px);
    border-radius: 15px;
    width: 35%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.control-panel-inner {
    background-color: #445;
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.input-password, .submit-password, .launch {
    background-color: yellow;
    color: dimgrey;
    border: 4px solid dimgrey;
    padding: 3px;
    font-size: 1.2rem;
    font-family: cursive;
}

.input-data {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input-password {
    min-width: 60%;
    text-align: center;
}

.submit-password {
    color: gray;
    background-color: #66cc66;
    padding: 0.4em;
    border-radius: 50%;
}

.check-buttons {
    width: 90%;
    height: 10%;
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.levers {
    width: 100%;
    height: 20%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.levers #lever1, .levers #lever2,
.levers #lever3, .levers #lever4,
.levers #lever5 {
    width: 15%;
    transform: rotate(-90deg);
}

.launch-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
}

.launch {
    padding: 0.5em;
    border-radius: 50%;
    background-color: tomato;
    color: whitesmoke;
}

.launch:disabled, .submit-password:disabled, .input-password:disabled {
    background-color: gray;
    color: lightgray;
}